/* Style the dots container */
.slick-dots {
    @apply absolute bottom-4 flex justify-center space-x-2;
}

/* Style individual dot list items */
.slick-dots li {
    @apply bg-transparent rounded-full;
}

/* Style the dot buttons (inactive state) */
.slick-dots button {
    @apply w-2 h-2 bg-gray-300 rounded-full transition-all duration-300 ease-in-out !important;
}

/* Active dot button styling (make it bigger) */
.slick-dots .slick-active button {
    @apply w-4 h-4 bg-white overflow-hidden !important;
    transition: all 0.8s ease-in-out; /* Smooth transition when active */
}

.slick-dots li button:before {
    color: transparent;
  }

  .slick-dots .slick-active button:before {
    color: transparent !important;
  }