/* Style the dots container */
.slick-dots {
    @apply absolute bottom-6 flex justify-center space-x-2;
}

/* Style individual dot list items */
.slick-dots li {
    @apply bg-transparent rounded-full;
}

/* Style the dot buttons (inactive state) */
.slick-dots button {
    @apply w-3 h-3 bg-gray-300 rounded-full transition-all duration-300 ease-in-out !important;
}

/* Active dot button styling (make it bigger) */
.slick-dots .slick-active button {
    @apply w-5 h-5 bg-white overflow-hidden !important;
    transition: all 0.8s ease-in-out; /* Smooth transition when active */
}

.slick-dots li button:before {
    color: transparent;
  }

  .slick-dots .slick-active button:before {
    color: transparent !important;
  }

  .clip-slant {
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}